.title-main {
    text-align: center;
    margin-bottom: 10px;
}
.title-main h1 {
    padding: 15px 0;
} 

.utility-seg {
    border-bottom: 1px solid #455A64;
    padding: 10px 0;
}

.search-utility, .sort-utility, .like-wrap  {
    display: flex;
}
.search-utility {
    justify-content: center;
}

.search-utility input {
    margin-left: 5px;
}

.sort-utility {
    padding: 10px 0;
    justify-content: space-evenly;
}
.sort-utility input{
    margin-left: 5px;
    vertical-align: middle; 
}

.blog-list-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.card{
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
    margin: 15px 0;
}
.card img{
    display: block;
    margin: 0 auto;
}

.card h2, .card p  {
    margin: 10px 0 ;
    color: #212121;
}

.category {
    text-transform: uppercase;
}

.like-wrap i{
    background: url(https://cdn3.iconfinder.com/data/icons/simple-files-1/128/Like-16.png) 50% 50% no-repeat;
    width: 16px;
    margin-right: 5px; 
}

@media only screen and (min-width: 980px) {
    .title-main {
        text-align: left;
    }

    .search-utility, .sort-utility {
        justify-content: left;
    }

    .card {
        display: flex;
    }
    .card .blog-data-wrap {
        margin-right: 15px;
        min-width: 68%;
    }
    .card img{
        background-color: #F5F5F5;
    }

    .load-more{
        display: block;
        border: none;
        padding: 12px;
        color: #fff;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
        background: #000;
        margin: 0 auto;
    }

    .sort-utility label{
        margin: 0 5px;
    }
}