* {
  margin: 0;
  padding:0;
}

body {
  font: 400 12px/20px sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 4%;
}

header {
  color: #FF7243;
}

header hr{
  border:1px solid #FF7243;  
}